<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="getMembers" resultType="memberDTO">
		select * from member
	</select>
	
	<select id="getDept" parameterType="map" resultType="deptDTO">
		select * from dept2 where deptno=#{no}
	</select>
	
	<insert id="addDept" parameterType="deptDTO">
		insert into dept2 values (#{deptno},#{dname})	
	</insert>
	
	<delete id="deleteDept" parameterType="int">
		delete from dept2 where deptno=#{no}
	</delete>
	
	<update id="updateDept" parameterType="map">
		update dept2 set dname = #{dname} where deptno =#{deptno}
	</update>
	
	<!-- deptno가 10, 20, 30인 부서정보 출력 -->
	<select id="deptnofor" resultType="deptDTO">
		select * from dept2 where deptno in
			<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
	
	<!-- 사원들의 이름, 부서번호, 부서이름을 출력 -->
	<select id="select1" resultType="empDTO">
		select e.ename, d.dname, d.deptno from emp e, dept d where e.deptno=d.deptno
	</select>
	
	<!-- DALLAS에서 근무하는 사원의 이름, 직위, 부서번호, 부서이름을 출력  -->
</mapper>